
input:focus, textarea:focus, select:focus {
  border: 2px solid blue;
  background-color: #eef;
}

input:checked {
  outline: 2px solid green;
}

input:disabled {
  background-color: #ccc;
  color: #666;
}

input:enabled {
  background-color: #fff;

}
